In [1]:
import pandas as pd

In [2]:
funnel_metrics = pd.read_csv("visa_communications.csv", parse_dates=['contact_dt'])
funnel_metrics.head()

,channel_type,contact_dt,control_group_flg,sent,delivered,opened,clicked,blocked,cust_id
0,Popup,2021-08-23,0,1,1,1,0,0,5d0a0cae173c27947838b9f3ad1282fa30771272747ede...
1,EMAIL,2021-08-12,0,1,1,0,0,0,b70d7c45f4d1724acdba89bead5941f13d93406bcbb1d7...
2,Popup,2021-08-11,0,1,1,1,0,0,1b3705d419798b8723884b643dc535ae7fc7623d6f4f7c...
3,PUSH,2021-08-12,0,0,0,0,0,0,0064bbbb2fd516698fd113adcabef8bb52824536512e8e...
4,PUSH,2021-08-12,0,0,0,0,0,0,3f0be853435987e9aff8cba237e8c19334708a996cf696...

In [3]:
funnel_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456826 entries, 0 to 1456825
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   channel_type       1456826 non-null  object
 1   contact_dt         1456826 non-null  datetime64[ns]
 2   control_group_flg  1456826 non-null  int64
 3   sent               1456826 non-null  int64
 4   delivered          1456826 non-null  int64
 5   opened             1456826 non-null  int64
 6   clicked            1456826 non-null  int64
 7   blocked            1456826 non-null  int64
 8   cust_id            1456826 non-null  object
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 100.0+ MB

In [4]:
card_openings_particip = pd.read_csv("card_openings.csv", parse_dates=['open_dt', 'contact_dt'])
card_openings_particip.head()

                                             cust_id    open_dt contact_dt
0  2537ec14c2e5b8607ea67dfe09ec687205c59ed152407f... 2021-08-19 2021-08-12
1  b6bc9799397f07c8304673d4d51e7788a143ecb710452e... 2021-08-16 2021-08-13
2  d09ee17e668f229697a15a940915714b838826305e6973... 2021-08-21 2021-08-13
3  2323b4ae10e99e72160a74c5b42c38e47f2bc0692ef0a9... 2021-08-23 2021-08-13
4  b056b9822c2208a83eeb7150ee4be30d7088b07fed0ec5... 2021-08-23 2021-08-13

In [5]:
card_openings_particip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22995 entries, 0 to 22994
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     22995 non-null  object
 1   open_dt     22995 non-null  datetime64[ns]
 2   contact_dt  22995 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 539.1+ KB

In [6]:
card_openings_not_particip = pd.read_csv("card_openings_non_participants.csv", parse_dates=['open_dt', 'contact_dt'])
card_openings_not_particip.head()

                                             cust_id    open_dt contact_dt
0  00142a5cfe4dd6ac883e4dc0ba888d6266ce99257e0825... 2021-08-26          0
1  00b037b74b45a2a0c9dc64b59a2587dd79dabc93e1d84b... 2021-08-12          0
2  00d312b7591fdc7d5607feac6ebcff5223d2162bff5248... 2021-08-26          0
3  01965e567e31d90ae31b5476a7bdb44b76ebf0d3950cf4... 2021-08-04          0
4  02a874b8110d3a04c551a88d8e35529e2faf553d8512e5... 2021-08-04          0

In [7]:
card_openings_not_particip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25589 entries, 0 to 25588
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     25589 non-null  object
 1   open_dt     25589 non-null  datetime64[ns]
 2   contact_dt  25589 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 599.9+ KB

In [8]:
transactions_particip = pd.read_csv("visa_transactions.csv", parse_dates=['transaction_dt'])
transactions_particip.head()

,cust_id,transaction_dt,mcc_id,txn_sum
0,db5e62076fad2729571f211d7ca4d5be1ba71e7563efbb...,2021-09-09,5399,2322.00
1,9fc01d326a0adcb9caaabe298064b8a26aa711878cf89f...,2021-09-07,5533,1245.00
2,7afcb430aaf9baa1786d36ffcdf3efec0f4f6fe41b32fc...,2021-08-30,5921,29.99
3,79a2d16cd93c5d15120f30f4a6a0b39060f6cdde7486c8...,2021-09-04,5211,110.00
4,0c10b18ba26cb55e4b1aed9146cf359d034fa872feeba6...,2021-08-31,5441,45.00

transactions_particip['transaction_dt'] = pd.to_datetime(transactions_particip['transaction_dt'], format='%Y%m%d')

In [9]:
transactions_particip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396564 entries, 0 to 396563
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cust_id         396564 non-null  object
 1   transaction_dt  396564 non-null  datetime64[ns]
 2   mcc_id          396564 non-null  int64
 3   txn_sum         396564 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 12.1+ MB

In [10]:
transactions_non_particip = pd.read_csv("visa_transactions_non_particip.csv", parse_dates=['transaction_dt'])
transactions_non_particip.head()

,cust_id,transaction_dt,mcc_id,txn_sum
0,7ab840dd10c9eec7ba477160c74eaff315746f5db370c9...,2021-08-28,5499,645.00
1,b920f5f439d996cb87ff138610bd123bcd03dae7bc4602...,2021-09-15,5921,304.56
2,e14bc4726c13b92a503e2089654a4abf05f1ce9effee52...,2021-09-09,5912,1249.40
3,a6d6a39ca52e7e1b6743274c94c1ed3b1ec06d7a726a51...,2021-08-30,5411,346.27
4,380a3ce00a9dff9daccb414c20dcc82c30100c23f23265...,2021-08-21,5812,35.00

In [11]:
transactions_non_particip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543494 entries, 0 to 543493
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cust_id         543494 non-null  object
 1   transaction_dt  543494 non-null  datetime64[ns]
 2   mcc_id          543494 non-null  int64
 3   txn_sum         543494 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 16.6+ MB

In [12]:
features = pd.read_csv("features.csv")
features.head()

,cust_id,mnth_gen,turnover,involve_cd,client_segment,gender,age_gr
0,ad767176b86d500e5b8421315731388ff6c5ec93079ec9...,2021-06-01,17764.83,1,MASS,F,25-40
1,cc7c069e1866b0e14e6a733ecddaa9e503ebe5b422b796...,2021-06-01,18817.45,1,MASS,M,25-40
2,914c9e80623d8fdecb0fa39662089aa78c7c076182728f...,2021-01-01,19198.74,1,MVS LIGHT,F,25-40
3,e45e78863f239d3933462c1a06a9f23727033232851fb5...,2021-04-01,114637.54,1,MVS UPPER,F,40-60
4,2201a68b8c83f098aee50a5b787bb8344a90b2b9a64b83...,2021-07-01,112603.01,0,MVS LIGHT,F,25-40

In [13]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31418100 entries, 0 to 31418099
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   cust_id         object
 1   mnth_gen        object
 2   turnover        float64
 3   involve_cd      int64
 4   client_segment  object
 5   gender          object
 6   age_gr          object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.6+ GB

We have chosen four key indicators of the campaign:

*   the open rate
*   click-through rate
*   conversion rate
*   revenue per email

The open rate is calculated by dividing the number of opened emails to the number of delivered emails.


*   nbr of  opened emails / sent emails 
*   nbr of opened emails / sent and delivered emails

In [14]:
sent = len(funnel_metrics[(funnel_metrics['control_group_flg'] != 1)&(funnel_metrics['sent'] != 0) & (funnel_metrics['delivered'] != 0)])
opened = len(funnel_metrics[(funnel_metrics['control_group_flg'] != 1) & (funnel_metrics['opened'] != 0)])
rez=opened/sent
print('open rate: ',rez)

open rate:  0.40204442911453725

In [15]:
clicked = len(funnel_metrics[(funnel_metrics['control_group_flg'] != 1) & (funnel_metrics['clicked'] != 0)])
print("click-through rate: ", clicked/sent)

click-through rate:  0.03093907799062114

In [16]:
new_customers = len(card_openings_particip)
conversion = new_customers / sent 

print("Conversion rate: ", conversion)

Conversion rate:  0.029159935174782076

In [17]:
twins_to_compare = pd.read_csv("twins_base_202112121317.csv")
twins_to_compare.head()

,tg_cust_id,synthetic_control_group_cust_id
0,0002389bfab4bb945654b5b3ac7441e2c634e6062fc780...,1b5e8227cdc3e41b8159684a4ca09c6107cebc2b92630e...
1,0003e193ac559ca40490de7e059116752e4e621366ba2c...,b3433e2f2b7eb77ffb9806e7ad9ebbeb2d119d2bdf1682...
2,000bcd2b9a9baba21d919252a67b4a72d73ee6b666aac3...,9e5ed7736baad40b61b4c86534ddf6d608da8f718c8b6b...
3,000f349449114fbb293ba4cb4f8efb48adaebd7aade67b...,125eeca73effdac0d44004de3ee7720556d2fe3a30f58f...
4,0011c3bb53e4f73534edf3e922abae44ccc1333ba9a7b3...,bb08bea34c22a12e8c8209b84717fb8906b2c978316933...

In [28]:
temptransactions= transactions_particip[transactions_particip.txn_sum>=500]
temptransactions = temptransactions.groupby('cust_id').filter(lambda x: len(x)>2)
temptransactions
# we got list of customers who complited rules of compain(3 trx at leats 500 rub)
#now we are going to count the cashback and commisions of bank

,cust_id,transaction_dt,mcc_id,txn_sum
0,db5e62076fad2729571f211d7ca4d5be1ba71e7563efbb...,2021-09-09,5399,2322.00
1,9fc01d326a0adcb9caaabe298064b8a26aa711878cf89f...,2021-09-07,5533,1245.00
7,1ef28607bf5bd0ffe7a667adef4a1769ede8e93284a713...,2021-09-08,5411,1411.00
8,ec1acb6ccaaf88034067b0d58bb0b70621d8e7603a8ad9...,2021-08-22,5977,687.00
9,d33ced03426b6230fabdcbd4586146fb54319d7457ac63...,2021-08-28,4722,36360.00
...,...,...,...,...
396549,05ee68780a5e9193ac94a6fda2657739677dd7315df6b5...,2021-09-10,5200,1380.00
396550,9377d9cfdb4353a622e1152d18f6e7cf41623a1f5b70ba...,2021-08-22,5411,961.34
396552,e16c936dabdcf9aed007ab9fd32a7902b613c9a1562026...,2021-08-28,5541,1899.20
396559,7eb6a55c4ae62e156db06e84b0d245c7a815719f8a0f4d...,2021-09-11,5331,581.00
396563,9393729c2c93244b7d8994cbf98f3afefad735a3276462...,2021-08-27,6300,3290.66

In [19]:
twins_to_compare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866130 entries, 0 to 866129
Data columns (total 2 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   tg_cust_id                       866130 non-null  object
 1   synthetic_control_group_cust_id  866130 non-null  object
dtypes: object(2)
memory usage: 13.2+ MB